<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="https://jakarta.ee/xml/ns/jakartaee"
   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
   xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd"
   version="6.0">

    <!-- MAPEAMENTO DO SERVLET ESQUECI SENHA -->
    <servlet>
        <servlet-name>EsqueciSenhaControlador</servlet-name>
        <servlet-class>com.mycompany.luiz_angelina_museu.controlador.EsqueciSenhaControlador</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>EsqueciSenhaControlador</servlet-name>
        <url-pattern>/esqueci-senha</url-pattern>
    </servlet-mapping>

    <!-- MAPEAMENTO DO SERVLET REDEFINIR SENHA -->
    <servlet>
        <servlet-name>RedefinirSenhaControlador</servlet-name>
        <servlet-class>com.mycompany.luiz_angelina_museu.controlador.RedefinirSenhaControlador</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RedefinirSenhaControlador</servlet-name>
        <url-pattern>/redefinir-senha</url-pattern>
    </servlet-mapping>

    <!-- Sua configuração de sessão original, mantida intacta -->
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    
</web-app>
